---
---

@import "{{ site.theme }}";

body {
  background: #FFFFFF;
  color: #58a6ff;
}

.wrapper {
  max-width: 1000px;
}

h1, h2, h3 {
  color: #58a6ff;
}

a {
  color: #58a6ff;
}

code {
  background: #161b22;
  color: #7ee787;
  padding: 3px 6px;
  border-radius: 4px;
}
